<div class="header">
  <%= link_to root_path do %>
     <%= image_tag "http://r52.cooltext.com/d.php?renderid=360192585945242&extension=png" %>
  <% end %>
  <div id="menu">
    <ul>
      <li><%= link_to "Trang chủ", root_path %></li>
      <li><%= link_to "Hình Ảnh", photomoments_path %>
      <li><%= link_to "Hightlight", "#" %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Tài Khoản", user_path(current_user) %></li>
        <li><%= link_to "Đăng Xuất", destroy_user_session_path %></li>
      <% else %>
        <li><%= link_to "Đăng Kí", new_user_registration_path %></li>
        <li><%= link_to "Đăng Nhập", user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
