<div class="home">
  <div class="header">
    <%= link_to root_path do %>
       <%= image_tag "http://r72.cooltext.com/d.php?renderid=360014157722210&extension=png" %>
    <% end %>
    <div id="menu">
      <ul>
        <li><%= link_to "Trang chủ", root_path %></li>
        <li><%= link_to "Tổng hợp", "#" %>
          <ul class="sub-menu">
            <li><%= link_to "Hình Ảnh", "#" %>
            <li><%= link_to "LiveStream", "#" %>
            <li><%= link_to "Hightlight", "#" %>
          </ul>
        </li>
        <li><%= link_to "Đăng Kí", "#" %></li>
        <li><%= link_to "Đăng Nhập", "#" %></li>
      </ul>
    </div>
  </div>
</div>
