<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | NSB_Territory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
  <div class="col-sm-3" style="padding-left: 0px;
    padding-right: 0px;">
    <%= render "layouts/tab_left" %>
  </div>
  <div class="col-sm-6" style="padding-left: 0px;
    padding-right: 0px;">
    <%= yield %>
  </div>
  <div class="col-sm-3" style="padding-left: 0px;
    padding-right: 0px;">
    <%= render "layouts/tab_right" %>
  </div>
    </div>
  </body>
</html>
